version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    labels:
      - "dependencies"
    cooldown:
      default-days: 7
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: weekly
    labels:
      - "dependencies"
    cooldown:
      default-days: 7
